// Functions

shadow()
  -moz-box-shadow: arguments
  -webkit-box-shadow: arguments
  box-shadow: arguments

// Variables

// Base
html
body  
#home-view
  height 100%
  padding 0
  margin 0
  overflow: hidden
  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box


body
  color: #444
  background-color: white

a:focus, a:hover
  text-decoration: underline

h1, h2, h3, h4, h5
  font-weight: normal
  color: #222
  clear: left

h1
  font-size: 5em
  line-height: 1.4
  margin-bottom: 0.5em

h2
  font-size: 2em
  line-height: 1
  margin-bottom: 0.5em

p
  margin: 0 0 1.5em

ul, ol
  margin: 0 1.5em 1.5em 0
  list-style-type: none

.spacer
  clear both
