
// Notes 

#editor
    margin 0 
    margin-left 320px
    padding 10px
    height auto
    background-color bgcoloreditor
    
#editorIframe
    margin-bottom 50px
    
#note-area
    position absolute
    bottom 65px
    top 100px
    right 15px
    left 15px
    
#note-full-breadcrumb
    margin-left 10px
    color #006ED8

#note-full-breadcrumb a
    color #49A1F6

.note-full
    background #333333
    shadow 5px 5px 5px bgshadowcolor 
    border-radius 3px
    position absolute
    top 10px
    bottom 10px
    right 10px
    left 10px

.note-full h2
    color #B5B5B5
    padding 0
    margin-bottom 20px
    margin-left 20px

    
