iframe
    border: 0

// Notes 

#editor
    width 100%
    height 70%
    padding 0
    margin 0
    background: #FDFDFD

#note-area
    height 100%
    padding 0
    margin 0
    
#note-full-breadcrumb
    margin-left 3px
    color #006ED8
    text-transform: lowercase
    padding-left 2%
    padding-right 2%
    padding-top 20px
    padding-bottom 20px

#note-style
    background: #FDFDFD

#note-full-breadcrumb a
    color #49A1F6

.note-full
    border-radius 3px
    height 100%
    margin 0
    padding 0 
    border 0
    
#note-full-title
    color #222
    height 35px
    border 0px
    font-size 30px
    font-variant: small-caps
    margin-left: 2% 
    margin-right: 2% 
    width: 92%
    background: none repeat scroll 0 0 transparent
    margin-top: 10px
    font-weight: bold
    margin-bottom: 20px
    
#note-full-title:focus
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)
    border-color: rgba(82, 168, 236, 0.8)
    outline: 0 none
    background-color: white
    

.progress
    width: 50%
    position: absolute
    
#drag
    z-index: -1
    bottom: 22px;
    left: 17px;
    position: absolute;
    right: 15px;
    top: 112px;

#note-file-list
    text-align: right
    position: absolute;
    right: 3%;
    top: 140px;

#editor-button-bar
    position: absolute
    right: 2%;
    top: 75px;

.note-file
    margin-top: 5px
    margin-right: 10px
    z-index: 10
    background-color: #DDD
    opacity: 0.5
    padding-left: 10px

.note-file:hover
    opacity: 1

.note-file
    a
        font-size: 0.6em
        color: darkgrey

    a:hover
        color: darkgrey

    button
        font-size: 0.6em
        background: transparent
        border: none

    button:hover
        text-decoration: underline

