// The main styl of the editor content is in:
// client/vendor/styles/CNeditor.css
// This one is updated with CNeditor

orange = #fe8800
blue = #34a6ff
lightblue = #CBE4FB
lightorange = #FFC47F
green = #5C5

#editor
    #editor-container:focus
        outline: 0
        border: 0

    #editor-lines:focus
        border: 0
        box-shadow: none
        outline: 0.1em solid lightblue

    #editor-lines:hover:not(:focus)
        outline: 0.1em solid lightorange

    .Tu-1
        margin-left: 0.4em

div[data-type="task"]
    background: lightblue + 70%
    border: 0.1em solid lightblue
    z-index: 10

.CNE_task_btn
    background: blue
    content: "todo"

div[data-state="done"] > .CNE_task_btn
    background: green

div[data-state="done"][data-type="task"]
    background: green + 90%
    border: 0.1em solid #CCC
    z-index: -10

div[data-state="done"] > .CNE_task_btn:hover
    background-color: orange
