Debug = 1
maxDepth=4
limit = 4

trueRank(depth)
  if maxDepth > limit
    min(depth, limit)
  else
    limit - maxDepth + depth

titleMixin(rank, type)
  padding-left unit(max(5, 20 * (rank - 1)), px)
  margin-left unit(0, px)
  if type == 1
    margin-top unit(12, px)
    width 100%
    box-sizing border-box
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    font-variant: small-caps
    border-bottom 1px solid #DDD
    font-weight bold
    font-size 1.5em
    margin-bottom 10px
  else if type == 2
    margin-top unit(5, px)
    font-size 1.2em
    font-variant: small-caps
    font-weight bold
    margin-bottom 5px
    margin-top 10px
  else if type == 3
    margin-top unit(5, px)
    font-size 1.2em
    font-variant: small-caps
    margin-top 8px
    margin-bottom 5px
  else
    margin-top unit(5, px)
    margin-bottom 5px
    font-variant: small-caps
  if rank == 1
    counter-reset    : section4
    counter-reset    : section3
    counter-reset    : section2
    counter-increment: section1
  else if rank == 2
    counter-reset    : section4
    counter-reset    : section3
    counter-increment: section2
  else if rank == 3
    counter-reset    : section4
    counter-increment: section3
  else if rank == 4
    counter-increment: section4

olMixin(rank)
  margin-left unit(20*rank, px)

ulMixin(rank)
  margin-left unit(20*rank, px)
  if rank <= 2
    margin-top unit(2, px)
  display list-item
  if rank % 4 == 0
    list-style-type circle
  else if rank % 2 == 0
    list-style-type square

titleLineMixin(rank)
  padding-left unit(max(5, 20 * (rank - 1)), px)

lineMixin(rank)
  padding-left unit(max(22, 20 * rank), px)


#editor-container
  padding-left 2%
  padding-right 2%
  height 100%

#editor-button-bar
  margin-right: 2%
  border-spacing: 0
  margin-bottom: 3px
  float: right

#note-style
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8)
  background: white
  margin-left: 2%
  margin-right: 2%
  height: 100%


#__ed-iframe-html
  padding         : 0px 0px 5px 0px
  box-shadow      : 4px 4px 6px rgba(0, 0, 0, 0.8)
  border-radius   : 5px 5px 5px 5px

#__ed-iframe-body
  overflow        : auto
  font            : normal 13px "Helvetica Neue", Arial, Helvetica, sans-serif
  color           : #222244
  background: #FDFDFD
  color: #222

p
  margin-top   : 0px
  margin-bottom: 0px
  margin-left  : 0px
  margin-right : 0px
  color        : #222244

dl
  margin       : 0
  padding      : 0

dt
  margin       : 0
  padding      : 0

ul, ol
  margin       : 3px 0 0 0
  padding      : 0
  list-style-type: none

li
  margin       : 0
  padding      : 0
  list-style-type: disc
  
dd
  margin-left  : 32px

num = (1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20)
for n in num
  .Th-{n}
    titleMixin(n, trueRank(n))
  .To-{n}
    olMixin(n)
    counter-increment list1
  .Tu-{n}
    ulMixin(n)
  .Lu-{n}
  .Lo-{n}
    lineMixin(n)
  .Lh-{n}
    titleLineMixin(n)
  if Debug == 1
    .Lu-{n}:before
    .Tu-{n}:before
    .Lo-{n}:before
    .To-{n}:before
    .Lh-{n}:before
    .Th-{n}:before
      content: attr(toDisplay)

if Debug == 1
  .Th-1:before
    content: counter(section1) " " attr(toDisplay)
  .Th-2:before
    content: counter(section1) "." counter(section2) " " attr(toDisplay)
  .Th-3:before
    content: counter(section1) "." counter(section2) "." counter(section3) " " attr(toDisplay)
  .Th-4:before
    content: counter(section1) "." counter(section2) "." counter(section3) "." counter(section4) " " attr(toDisplay)
else
  .Th-1:before
    content: counter(section1) " "
  .Th-2:before
    content: counter(section1) "." counter(section2) " "
  .Th-3:before
    content: counter(section1) "." counter(section2) "." counter(section3) " "
  .Th-4:before
    content: counter(section1) "." counter(section2) "." counter(section3) "." counter(section4) " "


.vline_02
  margin-left  : 30px
  border       : 1px solid #DDDDDD
  width        : 10px
  height       : 100%
  position     : relative
  top          : 0

h1
  font-size    : 2em

h2
  font-size    : 1.5em

h3
  font-size    : 1.17em

h4
  font-size    : 1em

h5
  font-size    : .83em

h6
  font-size    : .75em

img
  border       : 0
