@import 'nib'

shadow()
  -moz-box-shadow: arguments
  -webkit-box-shadow: arguments
  box-shadow: arguments

rounded-border()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments


a, a:visited
  color: #F95A5A
  text-decoration: none

a:hover
  color: #665248

body
  color: #444
  background-color #E4D1A9
  font: bold 16px "Helvetica Neue", Arial, Helvetica, sans-serif

/* Headings */
h1, h2, h3, h4, h5
  font-weight: normal
  color: #222
  clear: left

h1
  font-size: 5em
  line-height: 1.4
  margin-bottom: 0.5em

h2
  font-size: 2em
  line-height: 1
  margin-bottom: 0.5em

/* Text elements */
p
  margin: 0 0 1.5em

a:focus, a:hover
  color: #F95A5A
  text-decoration: underline
a
  color: #F95A5A
  text-decoration: none

/* Lists */
ul, ol
  margin: 0 1.5em 1.5em 0
  list-style-type: none

html, body 
  height 100%

.spacer
  clear both

#home-view
  height 100%

#content
  height 100%
  padding 0

#nav
  float left
  height 100%
  width 320px
  margin 0
  padding 0
  background-color #ebe5e2
  shadow 0 0 5px #002200

#tree
  font-size 12
  padding 10px
  border-top 1px solid white
  background-color #ebe5e2
  color #6d3100


#tree li
  padding 0
#tree ins
  width 14px

#tree a
  text-transform lowercase
  padding 3px 5px
  margin 2px 0px
  border 1px solid transparent
  font-weight bold
  color #3d2100

#tree a.jstree-clicked
  background #ffdd97  

#tree a:hover
  shadow 1px 1px 1px #666622
  background #F4E1B9

#tree-buttons
  border-bottom 1px solid #AAA
  background-color #ebe5e2
  margin-top 16px

#tree-buttons div
  display inline
  padding 6px 10px
  margin-left 8px
  background-repeat no-repeat
  background-position center
  cursor pointer

#tree-buttons i
  margin-top 3px
  margin-right 5px

#tree-buttons .spacer
  display block

#tree-buttons div.button:hover
  background: -moz-linear-gradient(center top , #ffdd97 0%, #ffb338 100%) repeat scroll 0 0 transparent

#tree-buttons div.button
  background: -moz-linear-gradient(center top , #E4D1A9 0%, #E4C199 100%) repeat scroll 0 0 transparent
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.12) inset, 1px 1px 1px rgba(0, 0, 0, 0.35);
  color #6d3100
  border 1px solid #3d2100
  rounded-border 2px 2px 2px 2px

#tree-buttons div.button:active
  background: -moz-linear-gradient(center top , #f4cc86 0%,  #eaa328 100%) repeat scroll 0 0 transparent
  shadow: 0 0px 0 rgba(255, 255, 255, 0.12) inset, 0 0px 1px rgba(0, 0, 0, 0.35);


#editor
  margin 0 
  margin-left 320px
  padding 10px
  height auto
  background-color #E4D1A9

#editor h2
  clear: none
  padding 0
  margin 0

.note-full
  background white
  shadow 0 0 5px #220000
  border 1px solid #ebe5e2
  padding 10px


