
#nav
    position absolute
    bottom 10px
    top 10px
    right 0px
    left 10px
    margin-bottom 0
    // TODO : the best way is to manage the hight of tree, not ro crop.
    //overflow hidden 


// Tree

#tree
    font-size 14px
    background-color transparent
    margin-top 10px

#tree li
    padding 0 // padding arround the content of a list item (leaf of the tree)
    position relative

#tree ins
    width 14px  // width of the inset of each level of the tree

#tree a
    padding 0px 0px 0px 0px
    margin  0px 0px 0px 0px
    border  0px 0px 0px 0px solid transparent
    color treelinkcolor
    left 15px
    right 0px
    position absolute

#tree a.jstree-clicked
    background #c5ebf9 
    border 0

#tree a.jstree-hovered
    border 0

#tree-buttons
    display none
    top 0
    position absolute
    right 10px
    top    0px

#tree-buttons div
    display inline
    cursor pointer
    padding-left 3px

// class for auto suggestion list : the characters 
// corresponding to the user search are higlighted
.bold-name
  font-weight: bold

.text-dropdown i
    padding-right: 5px

.tag-special
    background-color: white
    border: none
    margin: 0 2px 2px 0;
    padding: 0 1px 0 1px;
    color: #000000
    font: 11px "lucida grande",tahoma,verdana,arial,sans-serif

#tree-search-field
    width: 200px
    padding-right: 20px
    
#suppr-button
    position: absolute
    top: 23px
    left: 202px
    z-index: 2
    
#suppr-button:hover
    cursor: pointer

// separator between nav-pane and content-pane
.ui-layout-west
  border: 0px  

.ui-layout-center
  border: 0px  
  
.ui-layout-resizer-open:hover
  background white
    
.ui-layout-resizer
  background-color: white
  border-right: 2px solid white
  border-left: 2px solid white
  width: 10px

.ui-layout-pane
    border-right: 0px
  
.ui-layout-toggler
  background-color: white
  border: 0px
  position: absolute
  right: 0px

.ui-layout-resizer-open:hover .ui-layout-toggler
    background-color: #BFBFBF
