lightgrey = #FAFAFA
bggrey = #F4F4F4
whitegrey = #FCFCFC
darkgrey = #333
grey = #E8E8E8
blue = #7DBBF4

// Nav container styles

#nav
    background: bggrey
    color: darkgrey
    font-family: main, helvetica
    padding: 0

#my-notes
    padding-left: 18px
    border-top: 1px solid whitegrey

    #my-notes-pic
        margin-top: 15px

    #create-note
        float: right
        cursor: pointer
        width: 31px
        height: 31px
        background-image: url('../img/add-corner.png')

    #create-note:hover
        background-image: url('../img/add-corner-over.png')

// Tree styles

#tree
    outline: none
    margin-top: 10px
    border-top: 1px solid grey
    border-bottom: 1px solid grey
    font-size: 14px
    background-color: transparent

    #tree-node-all > ins:first-child
        display: none
    #tree-node-all > a
        display: none
    #tree-node-all
        padding: 0
    #tree-node-all > ul
        padding: 20px 0
        margin: 0
    #tree-node-all > li
        padding: 0

    li
        position relative
        margin-left: 10px
    li:last-child
        border-bottom: 1px solid whitegrey

    ul > li > ul > li:last-child
        border-bottom: 0
    /*
    #tree-node-all > ul > li > .jstree-rename-input
        margin-left: 8px
        margin-top: 10px

    li
        padding 10px 0
        position relative

    ul > li > ul > li
        border-top: 1px solid whitegrey
        border-bottom: 1px solid grey
        margin-left: 0px

    ul > li > ul > li > ul > li
        border: 0px
        padding: 3px
        margin-left: 10px
    */

    ins
        width 14px 
        margin-left: 0px

    a
        padding: 1px 0 0 3px
        margin:  0
        border:  0
        color: treelinkcolor
        left: 23px
        right: 0px
        position: absolute
        color: darkgrey

    .jstree-clicked
        background blue + 60%
        border 0

    .jstree-leaf ins.jstree-icon
        background-image: url('../img/icon-note.png')
        background-repeat: no-repeat

    .jstree-hovered
        border 0

    .jstree-rename-input
        margin-left: -6px
        margin-top: 0px
    

// Search field styles
#tree-top-buttons
    padding-bottom: 0px
    border-bottom: 1px solid grey

#tree-buttons
    display: none
    position: absolute
    right: 5px 
    top: 1px

    div
        display: inline
        opacity: 0.5

    .icon-plus
        background-image: url('../img/add.png')
        background-position: 0 0

    .icon-plus:hover
        background-image: url('../img/add-over.png')
        background-position: 0 0

    .icon-remove
        background-image: url('../img/remove.png')
        background-position: 0 0

    .icon-remove:hover
        background-image: url('../img/remove-over.png')
        background-position: 0 0

    .icon-pencil
        background-image: url('../img/rename.png')
        background-position: 0 0

    .icon-pencil:hover
        background-image: url('../img/rename-over.png')
        background-position: 0 0

.text-core
    margin: 20px 0
    margin-left: 6%
    margin-right: 6%

#tree-search-field
    border: 1px solid #DDD
    width: 100%
    
#suppr-button
    position: absolute
    top: 23px
    left: 202px
    z-index: 2
    
#suppr-button:hover
    cursor: pointer

.bold-name
    font-weight: bold

.text-dropdown i
    padding-right: 5px

.tag-special
    background-color: white
    border: none
    border: 1px solid #FFFFFF
    height: 14px
    position: relative
    margin: 0 2px 2px 0
    padding: 0 3px 0 3px
    color: #000000
    font: 11px "lucida grande",tahoma,verdana,arial,sans-serif

.text-core
    width: 88%

    .text-wrap
        width: 100%

// Separator style (between nav and content)

.ui-layout-west
    border: 0px  

.ui-layout-center
    border: 0px  
    
.ui-layout-resizer-open:hover
    background white
      

.ui-layout-resizer
    background-color: white
    border-right: 1px solid grey
    border-left: 1px solid grey
    width: 10px

.ui-layout-resizer:hover
    border-right: 1px solid blue
    border-left: 1px solid blue

.ui-layout-pane
    border-right: 0px
    
.ui-layout-toggler
    background-color: white
    border: 0px
    position: absolute
    right: 0px

.ui-layout-resizer:hover .ui-layout-toggler:hover
    background-color: blue

.ui-layout-resizer-open:hover .ui-layout-toggler
    background-color: #BFBFBF
