lightgrey = #FDFDFD
softgrey = #DADADA
middlegrey = #3A3A3A
darkgrey = #525252
orange = #fe8800
blue = #34a6ff
lightblue = #CBE4FB
lightorange = #FFC47F

transform()
  -webkit-transform: arguments
  -moz-transform: arguments
  -ms-transform: arguments
  -o-transform: arguments
  transform: arguments

iframe
    border: 0

#help-info
    margin-top: 3%
    text-align: center
    color: #999

#note-full-breadcrumb
    position: absolute;
    top: 20px
    margin-top: 10px
    margin-bottom: 10px
    margin-left: 2.2%
    margin-right: 2%
    font-size: 0.8em
    border: 0
    color: grey + 20%
    z-index: 51

    a
        color: grey + 20%

    a:hover
        color: orange


#note-full-breadcrumb.topaffix
    position fixed
    top 35px
    padding-left: 50px

#note-full
    padding: 0
    border: 0
    box-shadow: 0

#editor
    padding: 0
    padding-top: 83px
    margin: 0
    width: 100%
    height: 70%

#note-area
    height: 100%
    margin: 0
    background: #F5F5F5
    background-image: url('../img/background-note.jpg')

#note-style
    margin: 40px 2%
    padding: 20px 50px
    border: 1px solid #DDD
    background: #FDFDFD
    background-position: right top
    background-repeat: no-repeat
    box-shadow: 1px 1px 2px #DDD
    min-height: 300px

@media(max-height: 500px)
    #note-style
        min-height: 150px

#faketop
    padding-top: 50px
    margin-top: 40px
    border-right: 0px
    background: #FDFDFD
    background-position: right top
    background-repeat: no-repeat
    height: 60px
    padding-bottom: 0
    margin-top: 0
    border-bottom: 0
    position: fixed
    top: -130px
    z-index: 50

#faketop.topaffix
    top:0px

#faketop-grad
    position: absolute
    margin: 0px 50px
    bottom: -15px
    height: 15px
    width: 100%
    left: -50px
    background -webkit-linear-gradient(top, softgrey, rgba(255, 255, 255, 0))
    background -ms-linear-gradient(top, softgrey, rgba(255, 255, 255, 0))
    background -o-linear-gradient(top, softgrey, rgba(255, 255, 255, 0))
    background -moz-linear-gradient(top, softgrey, rgba(255, 255, 255, 0))
    background linear-gradient(top, softgrey, rgba(255, 255, 255, 0))
    visibility:hidden
#faketop-grad.topaffix
    visibility:visible

#editor-container
    margin-left: 0
    margin-right: 0
    height: 100%
    width: 100%
    position: relative
    margin-top: 15px

#note-full-title
    margin: 0
    padding-left: 10px
    color: #222
    border: 0px
    background: none repeat scroll 0 0 transparent
    font-size: 1.6em
    letter-spacing: -2px
    position:absolute
    top: 115px
    z-index: 53

#note-full-title:hover
    outline: 1px solid lightorange

#note-full-title:active
#note-full-title:focus
    background-color: white
    outline: 1px solid lightblue
    box-shadow: none

#note-full-title.topaffix
    position fixed
    top 65px

// Buttons

#editor-button-bar
    position: fixed
    opacity: 1
    z-index: 200
    left: 3.5%;
    top 150px

    .btn
        border: 1px solid #F2F2F2
        background-color: #FCFCFC
        background-image: none
        box-shadow: 0
        padding: 8px 8px 8px 8px


        i
            background-position: 0 0
            opacity: 0.3

        i.icon-indent-left
            background-image: url('../img/menu-indent-left.png')
        i.icon-indent-right
            background-image: url('../img/menu-indent-right.png')
        i.icon-th-list
            background-image: url('../img/menu-bullet-point.png')
        i.icon-text-height
            background-image: url('../img/menu-title.png')
        i.icon-toggle
            background-image: url('../img/02-menu-Toggle-light.png')
        i.icon-bold
            background-image: url('../img/02-menu-Bold-light.png')
        i.icon-link
            background-image: url('../img/02-menu-Link-light.png')
        i.icon-tags
            background-image: url('../img/02-menu-Meta-light.png')
        i.icon-download-alt
            background-image: url('../img/menu-save.png')

    .btn:hover

        i.icon-indent-left
            background-image: url('../img/menu-indent-left-over.png')
        i.icon-indent-right
            background-image: url('../img/menu-indent-right-over.png')
        i.icon-th-list
            background-image: url('../img/menu-bullet-point-over.png')
        i.icon-text-height
            background-image: url('../img/menu-title-over.png')
        i.icon-toggle
            background-image: url('../img/02-menu-Toggle-rollover.png')
        i.icon-bold
            background-image: url('../img/02-menu-Bold-rollover.png')
        i.icon-link
            background-image: url('../img/02-menu-Link-rollover.png')
        i.icon-tags
            background-image: url('../img/02-menu-Meta-rollover.png')
        i.icon-download-alt
            background-image: url('../img/menu-save-over.png')

    .btn:active
    .active
        background-color: #EAEAEA
        box-shadow: inset 4px 0px 3px #EAEAEA - 10%

#editor-button-bar:hover
    .btn
        box-shadow: inset -4px 0px 3px #F5F5F5
        border: 1px solid #DDD

        i
            background-position: 0 0
            opacity: 1

    .btn:active
    .active
        background-color: #EAEAEA
        box-shadow: inset 4px 0px 3px #EAEAEA - 10%

@media(max-height:500px)
    #editor-button-bar
        top 80px


// File list

#note-file-list .note-file:first-child
    border: 0

#note-file-list #file-list
    display: none

#note-file-list
    width: 300px
    position: absolute
    padding: 0 0 10px 0
    margin: 0
    min-width: 250px
    right: 14%
    top: 50px
    border: 1px solid #EEE
    text-align: center
    background: white
    box-shadow: 1px 1px 2px #EEE
    color: softgrey
    z-index: 55

    .note-file
        display: none
        padding-left: 10px
        padding-bottom: 3px
        margin-top: 5px
        z-index: 10
        border-top: 1px solid softgrey

        a
            font-size: 0.9em
            color: lightgrey - 20%

        a:hover
            color: orange

        button
            border: none
            background: white
            font-size: 0.7em
            color: lightgrey

        button:hover
            text-decoration: underline
            color: lightgrey - 20%

    #file-number
        // float: left
        text-align: left
        padding: 6px

    #file-pic
        position: absolute !important
        left: 60%
        top: -16px
        height: 40px
        width: 27px
        background-image: url('../img/attachment.png')

    #file-pic:hover
        background-image: url('../img/attachment-hover.png')

#note-file-list.topaffix
    position fixed
    top 17px
    right 3.5%
    margin-right: 20px

    #file-pic
        left auto
        right -10px
        top 0px
        transform: rotate(90deg)


// Misc

#drag
    z-index: -1
    bottom: 22px;
    left: 17px;
    position: absolute;
    right: 15px;
    top: 112px;

// Search view

#search-view, #latest-view

    span
        font-style: italic

    h1
        padding: 10px


    a
    a:visited
        color: #222

    h2
        span.date
            float right
            font-style normal
            color black + 30%

    .search-result
        margin: 10px
        padding: 0 20px
        border: 1px solid lightgrey
        box-shadow: 1px 1px 2px #EEE
        background: white
        box-shadow: none


// Responsive

@media (max-width: 450px)

    #note-file-list
        display: none

    #note-full-title
        width: 80%
        max-width: 80%

    #note-area
        padding: 0 0 0 10px

    #note-full
        padding: 0

    #note-full-breadcrumb
        padding-left: 10px

    #note-style
        padding: 5px 5px 5px 10px
        margin-top: 5px

    #editor-button-bar
        left: 0

    #editor
        padding-top: 53px

