html,body
  width:100%
  height:100%
  padding: 0
  margin:0
  overflow: hidden
  border-spacing: 5px


.table-ly-wrpr
  display: table
  width: 100%
  height: 100%
  table-layout: fixed

.table-ly-hder
  display: table-row
  width: 100%
  border-spacing: 0px

.table-ly-ctnt
  display: table-cell
  height: 100%

.monWell
  padding: 0px
  margin: 0px
  height: 100%

#well-result
  background-color: #ffffff

#col-wrap
  display: table
  border-spacing:10px
  width: 100%
  height: 100%

#editor-col
  display: table-cell
  width: 50%
  height:100%
  padding-right: 0px

#result-col
  display: table-cell
  vertical-align: top

#generalBtnBar
  padding: 0px 7px 0px 10px
  position:relative
  top:10px

#editorDiv
  height: 100%
  border-spacing: 7px

#editorContent
  padding: 0px
  overflow: hidden
  word-wrap: break-word

#editorIframe
  overflow: hidden
  font-size: 13px
  border:0
  width:100%
  position absolute
  top 0px
  bottom 0px

#resultDiv
  border-spacing: 7px

#resultContent

#resultText
  background-color: #E9EEF2
  width: 100%
  height: 100%
  padding:0px
  margin: 0
  position:relative
  top:-2px
  left:-1px

#editorBtnBar
  padding: 7px 7px 0px 7px

#resultBtnBar
  padding: 7px 7px 0px 7px

#divMainBtn *
  display: inline-block
  vertical-align: middle

