
table
    tr
        th
            #editorBtnBar.btn-group
                button#indentBtn.btn.btn-small.btn-primary(rel="tooltip", data-placement="bottom", title="indent the selection")
                    i.icon-indent-left
                button#unIndentBtn.btn.btn-small.btn-primary(rel="tooltip", data-placement="bottom", title="unindent the selection")
                    i.icon-indent-right
                button#markerListBtn.btn.btn-small.btn-primary(rel="tooltip", data-placement="bottom", title="change selection from titles to marker list")
                    i.icon-th-list
                button#titleBtn.btn.btn-small.btn-primary(rel="tooltip", data-placement="bottom", title="change selection from marker list to titles") Title
                button#save-editor-content.btn.active.btn-small.btn-info(rel="tooltip", data-placement="bottom", title="save the current content")
                    i.icon-download-alt
        td
            iframe#editorIframe
