
#main.table-ly-wrpr.monWell
  // boutons for the editor
  #divMainBtn.table-ly-hder
  #main-div.table-ly-ctnt
    #col-wrap
      #editor-col
        #well-editor.monWell
          #editorDiv.table-ly-wrpr
            // boutons for the editor
            .table-ly-hder
              #editorBtnBar.btn-group
                button#indentBtn.btn.btn-small.btn-primary Indent
                button#unIndentBtn.btn.btn-small.btn-primary Un-indent
                button#markerListBtn.btn.btn-small.btn-primary - Marker list
                button#titleBtn.btn.btn-small.btn-primary 1.1.2 Title
                button#save-editor-content.btn.btn-small.btn-primary Save
            // text for the editor
            #editorContent.table-ly-ctnt
              iframe#editorIframe
