
#editor-button-bar.btn-group.btn-group-vertical.clearfix
    button#indentBtn.btn.btn-small
        i.icon-indent-right
    button#unIndentBtn.btn.btn-small
        i.icon-indent-left
    button#markerListBtn.btn.btn-small
        i.icon-th-list
    button#titleBtn.btn.btn-small
        i.icon-text-height
    button#save-editor-content.btn.active.btn-small
        i.icon-download-alt

.spacer
#note-file-list
    #file-number 0 files
    #file-pic
    #file-list
#editor-container
