
#editor-button-bar.btn-group.clearfix
    button#indentBtn.btn.btn-small
        i.icon-indent-left
    button#unIndentBtn.btn.btn-small
        i.icon-indent-right
    button#markerListBtn.btn.btn-small
        i.icon-th-list
    button#titleBtn.btn.btn-small Title
    button#save-editor-content.btn.active.btn-small
        i.icon-download-alt
#editor-container
    iframe#editorIframe
