
table
    tr
        th
            #editorBtnBar.btn-group
                button#indentBtn.btn.btn-small.btn-primary
                    i.icon-indent-left
                button#unIndentBtn.btn.btn-small.btn-primary
                    i.icon-indent-right
                button#markerListBtn.btn.btn-small.btn-primary
                    i.icon-th-list
                button#titleBtn.btn.btn-small.btn-primary Title
                button#save-editor-content.btn.active.btn-small.btn-info
                    i.icon-download-alt
        td
            iframe#editorIframe
