#nav.ui-layout-west
    #tree
#editor.ui-layout-center
    p#searchInfo
    #note-full.note-full
        p#note-full-breadcrumb /
        h2#note-full-title no note selected
        div#note-area
            
