#nav1.ui-layout-west
    #nav.well
        #tree
#note-area.ui-layout-center
    #note-full.note-full
        p#note-full-breadcrumb /
        div#input-field
            input#note-full-title
        div#editor            
