#content
  h1 brunch
  h2 Welcome
  ul
    li 
      a(href="http://brunch.readthedocs.org/") Documentation
    li 
      a(href="https://github.com/brunch/brunch/issues") Github Issues
    li 
      a(href="https://github.com/brunch/todos") Todos Example App
