#nav.ui-layout-west
    #tree

#note-area.ui-layout-center
    #help-info
        | You don't have any note selected yet. To select a note use the tree
        | on your left.
    #note-full.well.note-full
        div#note-full-breadcrumb /
        div#note-style
            div
                input#note-full-title
            div#editor

div#myModal.modal.hide.fade.in(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-header
        h3#myModalLabel Warning!
    div.modal-body
        p You are about to delete this note and all its children. Do you want to continue?
    div.modal-footer
        button#modal-yes.btn(data-dismiss="modal", aria-hidden="true") Yes
        button.btn(data-dismiss="modal", aria-hidden="true") No
