#tree-buttons-root
    div#tree-create.button(rel="tooltip", data-placement="bottom", title="add a note")
        i.icon-plus
        
#tree-buttons
    div#tree-create.button(rel="tooltip", data-placement="bottom", title="add a note")
        i.icon-plus
    div#tree-remove.button(rel="tooltip", data-placement="bottom", title="remove a note")
        i.icon-remove
    div#tree-rename.button(rel="tooltip", data-placement="bottom", title="rename a note")
        i.icon-pencil
        
#tree-top-buttons
    input#tree-search-field.span2(type="text")
    i#suppr-button.icon-remove-circle( style="display: none")
