#tree-buttons
    .btn-group
        div#tree-create.btn.btn-primary.btn-small
            i.icon-plus
            span new
        div#tree-remove.btn.btn-primary.btn-small
            i.icon-remove
            span delete
        div#tree-rename.btn.btn-primary.btn-small
            i.icon-pencil 
            span rename
    //- div#tree-create.button
    //-     i.icon-plus
    //- div#tree-remove.button
    //-     i.icon-remove
    //- div#tree-rename.button
    //-     i.icon-pencil 
    .spacer
    .input-append
        input#tree-search-field.span2(type="text",placeholder="Search…")
        button.btn Search !
