#tree-buttons
    div#tree-create.button
        i.icon-plus
        span create
    div#tree-remove.button
        i.icon-remove
        span delete
    div#tree-rename.button
        i.icon-pencil 
        span rename
    .spacer
