#tree-buttons
    div#tree-create.button
        i.icon-plus
    div#tree-remove.button
        i.icon-remove
    div#tree-rename.button
        i.icon-pencil
        
#tree-top-buttons
    input#tree-search-field.span2(type="text")
    i#suppr-button.icon-remove-circle( style="display: none")
        
#my-notes
    img#my-notes-pic(src="img/my-notes.png")
    div#create-note
