#tree-buttons
    div#tree-create.button
        i.icon-plus
    div#tree-remove.button
        i.icon-remove
    div#tree-rename.button
        i.icon-pencil
        
#tree-top-buttons
    .input-append
        input#tree-search-field.span2
        button.btn Search !
        br
        input#textext-field
        
