!!! 5
html

  head
    title #{title}

    script(src='javascripts/vendor.js')
    script(src='javascripts/app.js')
    link(rel='stylesheet', href='stylesheets/app.css')


  body

    #home_view
      .pane.ui-layout-center
      .pane.ui-layout-west
        #tree
    
  script
    require('initialize');

